$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;
$small: $breakpoint-sm
$medium: $breakpoint-md
$large: $breakpoint-lg
