.pr1
  padding-right: 0.5rem
.pl1
  padding-left: 0.5rem
.mln1
  margin-left: -0.5rem
.mrn1
  margin-right: -0.5rem
.mtn1
  margin-top: -0.5rem
.mbn1
  margin-bottom: -0.5rem
.myn1
  margin-top: -0.5rem
  margin-bottom: -0.5rem
.mn1
  margin: -0.5rem -0.5rem
